body{
    background-color: #000;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    text-align: center;
}

button {
    background-color: black;
    border: none;
    border-radius: 5px;
    color: rgb(255, 0, 0);
    cursor: pointer;
    font-family: 'Monospace', sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.5;
    margin: 0;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
}